/Data Processing/credit_scoring_eng.csv
/Exploratory Data Analysis(EDA)/vehicles_us.csv
/Statistical Data Analysis/megaline_calls.csv
/Statistical Data Analysis/megaline_internet.csv
/Statistical Data Analysis/megaline_messages.csv
/Statistical Data Analysis/megaline_plans.csv
/Statistical Data Analysis/megaline_users.csv
/Integrated project 1/games.csv
/Data Storage and Collection/project_sql_result_01.csv
/Data Storage and Collection/project_sql_result_04.csv
/Data Storage and Collection/project_sql_result_07.csv
/Business Analytics/costs_us.csv
/Business Analytics/orders_log_us.csv
/Business Analytics/visits_log_us.csv
/Making Business Decisions Based on Data/hypotheses_us.csv
/Making Business Decisions Based on Data/orders_us.csv
/Making Business Decisions Based on Data/visits_us.csv
/How to Tell a Story Using Data/rest_data_us.csv
/Integrated_Project(AB testing)/logs_exp_us.csv
