/Data Processing/credit_scoring_eng.csv
/Exploratory Data Analysis(EDA)/vehicles_us.csv
/Statistical Data Analysis/megaline_calls.csv
/Statistical Data Analysis/megaline_internet.csv
/Statistical Data Analysis/megaline_messages.csv
/Statistical Data Analysis/megaline_plans.csv
/Statistical Data Analysis/megaline_users.csv
/Integrated project 1/games.csv